#uk-map{
/*    
    width: 100%;
    height: 200rem; */
    margin: 0 auto;
}

.country{
    fill: green;
}

.map-container{
    background-color: lightseagreen;
}

path.country{
    /* display: block;
    margin: auto;  */
}

