#uk-map{
/*    
    width: 100%;
    height: 200rem; */
    /* margin: 0 auto; */
}

.country{
    fill: #4cd137;
}

.country{

}

/* #map{
    height: 100rem;
    width: 100rem;
} */

svg{
    background-color: #0097e6;
    border: 2px solid black;
}

.point{
    fill: #fbc531;
    fill-opacity: 70%;
    stroke: black;
    stroke-width: 1;

}
.point-label{
    fill: white;
}

.hover{
    fill: #e84118;
}

.bg{
    /* background-color: #dcdde1; */
}

.tool-tip{
    fill: red;
    background-color: orange;
    height: 100px;
}