#uk-map{
/*    
    width: 100%;
    height: 200rem; */
    /* margin: 0 auto; */
}

.country{
    fill: green;
}

.country{

}

svg{
    display: block;
    margin: auto;
    background-color: lightseagreen;
    border: 5px solid black;
}
